<div class="head-title">
	<div class="left">
		<ul class="breadcrumb">
			<li>
				<pre><a class="active generic-button" href="#">Comments</a></pre>
			</li>

			<li>
				<i class='bx material-icons'>chevron_right</i>
			</li>
		</ul>
		<br>
		<pre><h1>Comments</h1></pre>
	</div>
</div>

<ul class="box-info">
	<li>
		<i class='bx material-icons'>today</i>
		<span class="text">
			<h3>{{getCurrentDate}}</h3>
			<p>Current Date</p>
		</span>
	</li>

	<li>
		<i class='bx material-icons'>personal_injury</i>
		<span class="text">
			<h3>{{patients.length}}</h3>
			<p>Patients(s)</p>
		</span>
	</li>

	<li>
		<i style="background: var(--light-orange); color: var(--orange);" class='bx material-icons'>chat_bubble</i>
		<span class="text">
			<h3>{{messages.length}}</h3>
			<p>Messages(s) Sent</p>
		</span>
	</li>
		<li>
		<i style="background: var(--light-orange); color: var(--orange);" class='bx material-icons'>description</i>
		<span class="text">
			<h3>{{notes.length}}</h3>
			<p>Clinician Note(s) created</p>
		</span>
	</li>
</ul>

<div class="table-data">
	<div class="order">
		<div class="head">
			<!--					<i class='bx bx-check-square' ></i>-->
			<h3>Comments</h3>
			<input style="width:40%" type="text" class="input-button-select" id="attentionRequiredInput" onkeyup="attentionRequiredSearch()" placeholder="Search..." title="Type in a name">
			<a style="color:var(--blue);" href="#"><i class='bx material-icons'>filter_list</i></a>
		</div>
		<table id="attentionRequiredTable">
			<thead>
				<tr class="header">
					<th>Username</th>
					<th>Comment Preview</th>
					<th>Timestamp</th>
					<th>Go to patient</th>
				</tr>
			</thead>

			<tbody>
				{{!-- loops over the data set --}}
				{{#each data}}
				<tr>
					<td data-label="Username"><p>{{username}}</p></td>
					<td data-label="Note Preview"><p>{{previewString comment}}</p></td>
					<td data-label="Timestamp"><p>{{formatDate time}}</p></td>
					<td data-label="View"><a href="/clinician/patients?user={{id}}"><i style="color:var(--blue);" class='bx material-icons'>arrow_forward_ios</i></a></td>
				</tr>
				{{/each}}
			</tbody>
		</table>
		<br>
		<p>Notes may be hidden, scroll if required</p>
		<img src="/img/bounce-arrow.gif" alt="scroll-down-animation" width="50vw">
	</div>
	<div class="todo">
		<div class="head">
			<!--					<i class='bx bx-edit-alt'></i>-->
			<h3>Quick Links</h3>
		</div>
		
		<ul class="todo-list">
			<li class="blueone">
				<p>Message someone</p>
				<a href="/clinician/messages"><i style="color:var(--blue);" class='bx material-icons'>arrow_forward_ios</i></a>
			</li>
			<li class="blueone">
				<p>View all patients</p>
				<p data-label="View"><a href="/clinician/patients"><i style="color:var(--blue);" class='bx material-icons'>arrow_forward_ios</i></a></p>
			</li>
			<li class="blueone">
				<p>Add a New Patient</p>
				<p data-label="View"><a href="/clinician/addNewPatient"><i style="color:var(--blue);" class='bx material-icons'>arrow_forward_ios</i></a></p>
			</li>
		</ul>
		<br>	
	</div>
</div>