<form id="addRecordForm" action="/clinician/patients/edit?user={{patient._id}}" method="POST">

<div class="head-title">
    <div class="left">
        <ul class="breadcrumb">
            <li>
                <pre><a class="active generic-button" href="/clinician/patients">Patients</a></pre>
            </li>
            <li><i class='bx material-icons'>chevron_right</i></li>
            <li>
                <pre><a class="active generic-button" href="#">Patient: {{patient.first_name}} {{patient.last_name}}</a></pre>
            </li>
            <li><i class='bx material-icons'>chevron_right</i></li>
            <li>
                <pre><a class="active generic-button" href="#">Edit</a></pre>
            </li>
        </ul>
        <br>
        <h1>Edit Patient: {{patient.first_name}} {{patient.last_name}}</h1>
    </div>
    	<input type="submit" class="btn-download">
	{{!-- <i class='bx material-icons'>done</i>
	<span style='font-size:13px' class="text">Done</span> --}}
</div>


<ul class="box-info">
    <li>
        <i class='bx material-icons'>today</i>
        <span class="text">
            <h3>{{getCurrentDate}}</h3>
            <p>Current Date</p>
        </span>
    </li>
    <li>
        <i class='bx material-icons'>personal_injury</i>
        <span class="text">
            <h3>{{time}}</h3>
            <p>Last record timestamp</p>
        </span>
    </li>
    <li>
        <i style="background: var(--light-orange); color: var(--orange);" class='bx material-icons'>assignment_late</i>
        <span class="text">
            <h3>{{Num}}</h3>
            <p>Incomplete entries today</p>
        </span>
    </li>
    <li>
        <i style="background: var(--light-orange); color: var(--orange);" class='bx material-icons'>data_thresholding</i>
        <span class="text">
            <h3>{{Num}}</h3>
            <p>Threshold warnings today</p>
        </span>
    </li>
</ul>




<div class="table-data">
    <div class="order">
        <div class="head">
            <!--					<i class='bx bx-check-square' ></i>-->
            <h3>Patient Details</h3>
        </div>
        

        <ul class="box-info">
            <li style="background-color:var(--grey);">
                <span class="text">
                    <label>First Name</label>
                    <input class="input-button-select" type="text" value="{{patient.first_name}}" placeholder="" name="first_name" />
                </span>
                
            </li>
            <li style="background-color:var(--grey);">
                <span class="text">
                    <label>Last Name</label>
                    <input class="input-button-select" type="text" value="{{patient.last_name}}" name="last_name" />
                </span>
            </li>
            <li style="background-color:var(--grey);">
                <span class="text">
                    <label>Sign Up Date</label>
                    <input class="input-button-select" type="Date" value="{{formatCurrentDateForPost patient.signupdate}}" name="signupdate" />
                </span>
            </li>
        </ul>
        <br>
        <ul class="box-info">
            
            <li style="background-color:var(--grey);">
                <span class="text">
                    <label>Phone</label>
                    <input class="input-button-select" type="text" value="{{patient.phone}}" name="phone" />
                </span>
            </li>
            <li style="background-color:var(--grey);">
                <span class="text">
                    <label>Email/username</label>
                    <input class="input-button-select" type="text" value="{{patient.email}}" name="email" readonly/></h3>
                </span>
            </li>
        </ul>
        <ul class="box-info">
            <li style="background-color:var(--grey);">
                <span class="text">
                    <label>Address</label>
                    <input class="input-button-select" type="text" value="{{patient.address}}" name="address" />
                </span>
                
            </li>
        </ul>
        <br>
        <ul class="box-info">
            <li style="background-color:var(--grey);">
                <span class="text">
                    <label>Height</label>
                    <input class="input-button-select" type="text" value="{{patient.height}}" name="height" />
                </span>
            </li>
            
            <li style="background-color:var(--grey);">
                <span class="text">
                    <label>Date of Birth</label>
                    <input class="input-button-select" type="Date" value="{{formatCurrentDateForPost patient.dob}}" name="dob" />
                </span>
            </li>
            <li style="background-color:var(--grey);">
                <span class="text">
                    <h3>Gender</h3>
                    <select class="input-button-select" name="gender" id="gender">
                        <option value="Male" {{compareMale patient.gender}}>Male</option>
                        <option value="Female" {{compareFemale patient.gender}}>Female</option>
                        <option value="Other" {{compareOther patient.gender}}>Other</option>
                    </select>
                </span>
            </li>
        </ul>
        
    </div>
    <div class="todo">
        <div class="head">
            <!--					<i class='bx bx-edit-alt'></i>-->
            <h3>Patient records & thresholds</h3>
            <p>Leave field blank if patient does not need to enter a time-series</p>
        </div>
        <ul class="todo-list">
            <li class="blueone">
                <p>Blood Glucose (nMol/L)</p>
                <input class="input-button-select" type="number" placeholder="From" name="blood_glucose_lower" step=".01"/>
                <input class="input-button-select" type="number" placeholder="To" name="blood_glucose_upper" step=".01"/>
            </li>
            <li class="blueone">
                <p>Insulin Doses (doses)</p>
                <input class="input-button-select" type="number" placeholder="Minimum number of doses" name="insulin_lower"/>
                <input class="input-button-select" type="number" placeholder="Maximum number of doses" name="insulin_upper"/>
            </li>
            <li class="blueone">
                <p>Weight (kg)</p>
                <input class="input-button-select" type="number" placeholder="From" name="weight_lower" step=".01"/>
                <input class="input-button-select" type="number" placeholder="To" name="weight_upper" step=".01"/>
            </li>
            <li class="blueone">
                <p>Exercise (steps)</p>
                <input class="input-button-select" type="number" placeholder="Minimum exercise level" name="exercise_lower" step=".01"/>
                <input class="input-button-select" type="number" placeholder="Maximum exercise level" name="exercise_upper" step=".01"/>
            </li>
        </ul>
    </div>
</div>


<div class="table-data">
    <div class="order">
        <div class="head">
            <!--					<i class='bx bx-check-square' ></i>-->
            <h3>Patient's Records</h3>
            <input style="width:40%" type="text" class="input-button-select" id="attentionRequiredInput" onkeyup="attentionRequiredSearch()" placeholder="Search..." title="Type in a name">
            <a style="color:var(--blue);" href="#"><i class='bx material-icons'>filter_list</i></a>
        </div>
        <table id="attentionRequiredTable">
            <thead>
                <tr class="header">
                    <th>Date Added</th>
                    <th>Record Type</th>
                    <th>Value</th>
                    <th>Warning</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                {{!-- loops over the data set --}}
                {{#each patient.records}}
                <tr {{#if_eq_clinician_dashboard this.record_type this.value}} {{/if_eq_clinician_dashboard}}>
                    <td data-label="Date Added"><p>{{formatDate created_at}}</p></td>
                    <td data-label="Record Type"><p>{{record_type}}</p></td>
                    <td data-label="Value"><p>{{this.value}}</p></td>
                    <td data-label="Warning"><p>{{#if_threshold_text this.record_type this.value}} {{/if_threshold_text}}</p></td>
                    <td data-label="View"><a href="/clinician/patients/{{../email}}/{{this._id}}"><i style="color:var(--blue);" class='bx material-icons'>arrow_forward_ios</i></a></td>
                </tr>
                {{else}}
                {{/each}}
            </tbody>
        </table>
        <br>
        <p>Records may be hidden, scroll if required</p>
        <img src="/img/bounce-arrow.gif" alt="scroll-down-animation" width="50vw">
    </div>
</div>
