
<div class="head-title">
    <div class="left">
        <ul class="breadcrumb">
            <li>
                <a class="active generic-button" href="/clinician/messages">Messages</a>
            </li>
            <li><i class='bx material-icons'>chevron_right</i></li>
            <li>
                <pre><a class="active generic-button" href="#">New Message</a></pre>
            </li>
        </ul>
        <br>
        <h1>Send a Message</h1>
    </div>
</div>


<ul class="box-info">
    <li>
        <i class='bx material-icons'>today</i>
        <span class="text">
            <h3>{{getCurrentDate}}</h3>
            <p>Today's Date</p>
        </span>
    </li>

    {{#with patient}}
    <li>
        <i class='bx material-icons'>medication</i>
        <span class="text">
                <h3>{{this.first_name}} {{this.last_name}}</h3>
            <p>Receiving Patient</p>
        </span>
    </li>

    <li>
    <i style="background: var(--light-orange); color: var(--orange);" class='bx material-icons'>data_thresholding</i>
    <span class="text">
        <h3>{{this.messages.length}}</h3>
        <p>Messages(s) Sent</p>
    </span>
    </li>

    <li>
    <i style="background: var(--light-orange); color: var(--orange);" class='bx material-icons'>data_thresholding</i>
    <span class="text">
        <h3>{{this.messages.length}}</h3>
        <p>Clinician Note(s) created</p>
    </span>
    </li>
    {{/with}}
</ul>

<div class="table-data">
    <div class="order">
        <div class="head">
            <!--<i class='bx bx-check-square'></i>-->
            <h3>Compose message</h3>
        </div>
        
        <form class="form-group" id="addRecordForm" action="/clinician/sendmessage" method="POST">
            <label>Time</label>
            <input class="input-button-select" type="text" value="{{formatLongDateNoBreak getTimestamp}}" readonly>
            <input class="input-button-select" type="hidden" id="timestamp" name="timestamp" placeholder="testtime" value="{{getTimestamp}}" readonly><br><br>
            <label>Username</label>
            <br>
            <select class="input-button-select" list="username-list" id="username-choice" placeholder="Select username" name="username"/>
                {{#each patients}}
                <option value="{{this.email}}">{{this.email}}</option>
                {{/each}}
            </select>
            <br><br>
            <textarea class="input-button-select" id="addRecordForm" placeholder="Compose message here" name="comment" rows="5" cols="33"></textarea>
            <br><br>
            <input style="font-size: 110%;" class="generic-button" type="submit" value="Send message"/>
        </form>                 
    </div>
</div>
