<div class="head-title">
	<div class="left">
		<ul class="breadcrumb">
			<li>
				<a class="active generic-button" href="#">My Profile</a>
			</li>
			<li><i class='bx material-icons'>chevron_right</i></li>
		</ul>
		<br>
		<h1>My Profile</h1>
		
	</div>
	
	
</div>

<ul class="box-info">
	<li>
		<i class='bx material-icons'>today</i>
		<span class="text">
			<h3>{{getCurrentDate}}</h3>
			<p>Today's Date</p>
		</span>
	</li>
	<li>
		<i class='bx material-icons'>medication</i>
		<span class="text">
			{{#with clinician}}
				<h3>Dr. {{this.first_name}} {{this.last_name}}</h3>
			{{/with}}
			<p>Your clinician</p>
		</span>
	</li>
</ul>





<div class="table-data">
	<div class="order">
		<div class="head">
			<h3>Personal details</h3><i class='bx material-icons'>edit</i>
		</div>

		
		<ul class="box-info">
			<li style="background:#eee">
				<i class='bx material-icons'>today</i>
				<span class="text">
					<h3>{{firstname}}</h3>
					<p>First Name</p>
				</span>
			</li>
			<li style="background:#eee">
				<i class='bx material-icons'>medication</i>
				<span class="text">
					<h3>{{this.last_name}}</h3>
					<p>Last Name</p>
				</span>
			</li>
			<li style="background:#eee">
				<i class='bx material-icons'>medication</i>
				<span class="text">
					<h3>{{this.username}}</h3>
					<p>Username/E-Mail</p>
				</span>
			</li>
			<li style="background:#eee">
				<i class='bx material-icons'>today</i>
				<span class="text">
					<h3>{{firstname}}</h3>
					<p>Phone</p>
				</span>
			</li>
		</ul>
		
		<br>
		
		<ul class="box-info">
			<li style="background:#eee">
				<i class='bx material-icons'>today</i>
				<span class="text">
					<h3>{{firstname}}</h3>
					<p>Address</p>
				</span>
			</li>
		</ul>
		<ul class="box-info">
			<li style="background:#eee">
				<i class='bx material-icons'>today</i>
				<span class="text">
					<h3>{{firstname}}</h3>
					<p>Gender</p>
				</span>
			</li>
			<li style="background:#eee">
				<i class='bx material-icons'>today</i>
				<span class="text">
					<h3>{{firstname}}</h3>
					<p>Height</p>
				</span>
			</li>
		</ul>
		
		
		
	</div>
	<div class="todo">
		<div class="head">
			<!--					<i class='bx bx-edit-alt'></i>-->
			<h3>Prescribed records & Thresholds</h3>
		</div>

		<ul class="todo-list">
			<li class="blueone">
				<p>ABCDEFG:</p>
				<p>ABCDEFG</p>
			</li>
			<li class="blueone">
				<p>ABCDEFG:</p>
				<p>HIJKLMN</p>
			</li>
		</ul>
		<br>
		<p>To change these values, contact your clinician {{namehere}}</p>

	</div>

	
</div>

