<div class="head-title">
	<div class="left">
		<ul class="breadcrumb">
			<li>
				<a class="active generic-button" href="#">My Profile</a>
			</li>
			<li><i class='bx material-icons'>chevron_right</i></li>
		</ul>
		<br>
		<h1>My Profile</h1>
		
	</div>
	<a href="/user/myinfo/edit" class="btn-download">
	<i class='bx material-icons'>edit_calendar</i>
	<span style='font-size:13px' class="text">Edit Personal Information</span>
</a>
	
</div>


<ul class="box-info">
	<li>
		<i class='bx material-icons'>today</i>
		<span class="text">
			<h3>{{getCurrentDate}}</h3>
			<p>Today's Date</p>
		</span>
	</li>
	<li>
		<i class='bx material-icons'>medication</i>
		<span class="text">
				<h3>Dr. {{clinician.first_name}} {{clinician.last_name}}</h3>
			<p>Your clinician</p>
		</span>
	</li>
</ul>





<div class="table-data">
	<div class="order">
		<div class="head">
			<h3>Personal details</h3>
		</div>

		
		<ul class="box-info">
			<li style="background:#eee">
				<span class="text">
					<h3>{{patient.first_name}}</h3>
					<p>First Name</p>
				</span>
			</li>
			<li style="background:#eee">
				<span class="text">
					<h3>{{patient.last_name}}</h3>
					<p>Last Name</p>
				</span>
			</li>
			<li style="background:#eee">
				<span class="text">
					<h3>{{patient.email}}</h3>
					<p>Username/E-Mail</p>
				</span>
			</li>
			<li style="background:#eee">
				<span class="text">
					<h3>{{patient.phone}}</h3>
					<p>Phone</p>
				</span>
			</li>
			<li style="background:#eee">
				<span class="text">
					<h3>********</h3>
					<p>Password</p>
				</span>
			</li>
		</ul>
		
		<br>
		
		<ul class="box-info">
			<li style="background:#eee">
				<span class="text">
					<h3>{{patient.address}}</h3>
					<p>Address</p>
				</span>
			</li>
		</ul>
		<ul class="box-info">
			<li style="background:#eee">
				<span class="text">
					<h3>{{patient.gender}}</h3>
					<p>Gender</p>
				</span>
			</li>
			<li style="background:#eee">
				<span class="text">
					<h3>{{patient.height}} cm</h3>
					<p>Height</p>
				</span>
			</li>
			<li style="background:#eee">
				<span class="text">
					<h3>{{formatDateLongYear patient.dob}}</h3>
					<p>Date of Birth</p>
				</span>
			</li>
		</ul>
		
		
		
	</div>
		<div class="todo">
		<div class="head">
			<!--					<i class='bx bx-edit-alt'></i>-->
			<h3>Prescribed records & Thresholds</h3>
		</div>

		<ul class="todo-list">
            {{#each patient.thresholds}}
            <li class="blueone">
                <p>{{formatThresholds this.name}}: {{negativeThreshold this.lower}} - {{negativeThreshold this.upper}}</p>
            </li>
            {{/each}}
		</ul>
		<br>
		<p>To change these values, contact your clinician:<br> {{clinician.first_name}} {{clinician.last_name}}</p>

	</div>


	
</div>

