<form id="addRecordForm" action="/user/myinfo/edit" method="POST">
<div class="head-title">
	<div class="left">
		<ul class="breadcrumb">
			<li>
				<a class="active generic-button" href="/user/myinfo">My Profile</a>
			</li>
			<li><i class='bx material-icons'>chevron_right</i></li>
			<a class="active generic-button" href="#">Edit My Profile</a>
			</li>
			<li><i class='bx material-icons'>chevron_right</i></li>
		</ul>

		<br>
		<h1>Editing: My Profile</h1>
	</div>
	<input style="font-size: 110%;" class="btn-download" type="submit" />
	{{!-- <a href="/user/myinfo/edit" class="btn-download">
		<i class='bx material-icons'>done</i>
		<span style='font-size:13px' class="text">Finish Editing</span>
	</a> --}}
</div>

<ul class="box-info">
	<li>
		<i class='bx material-icons'>today</i>
		<span class="text">
			<h3>{{getCurrentDate}}</h3>
			<p>Today's Date</p>
		</span>
	</li>

	<li>
		<i class='bx material-icons'>medication</i>
		<span class="text">
			<h3>Dr. {{clinician.first_name}} {{clinician.last_name}}</h3>
			<p>Your clinician</p>
		</span>
	</li>
</ul>

<div class="table-data">
	<div class="order">
		<div class="head">
			<h3>Personal details</h3>
		</div>

		
		<ul class="box-info">
			<li style="background:#eee">
				<span class="text">
					<input class="input-button-select" type="text" id="first_name" name="first_name" value="{{patient.first_name}}">
					<p>First Name</p>
				</span>
			</li>
			<li style="background:#eee">
				<span class="text">
					<input class="input-button-select" type="text" id="last_name" name="last_name" value="{{patient.last_name}}">
					<p>Last Name</p>
				</span>
			</li>
			<li style="background:#eee">
				<span class="text">
					<input class="input-button-select" type="text" id="email" name="email" value="{{patient.email}}">
					<p>Username/E-Mail</p>
				</span>
			</li>
			<li style="background:#eee">
				<span class="text">
					<input class="input-button-select" type="text" id="phone" name="phone" value="{{patient.phone}}">
					<p>Phone</p>
				</span>
			</li>
			<li style="background:#eee">
				<span class="text">
					<input class="input-button-select" type="text" required="required" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" id="password" name="password" placeholder="********">
					<p>Password</p>
				</span>
			</li>
		</ul>
		
		<br>
		
		<ul class="box-info">
			<li style="background:#eee">
				<span class="text">
					<input class="input-button-select" type="text" id="address" name="address" value="{{patient.address}}">
					<p>Address</p>
				</span>
			</li>
		</ul>
		<ul class="box-info">
			<li style="background:#eee">
				<span class="text">
					<input class="input-button-select" type="text" id="gender" name="gender" value="{{patient.gender}}">
					<p>Gender</p>
				</span>
			</li>
			<li style="background:#eee">
				<span class="text">
					<input class="input-button-select" type="text" id="height" name="height" value="{{patient.height}}">
					<p>Height (cm)</p>
				</span>
			</li>
						<li style="background:#eee">
				<span class="text">
					<input class="input-button-select" type="date" id="dob" name="dob" value="{{formatCurrentDateForPost patient.dob}}">
					<p>Date of Birth</p>
				</span>
			</li>
		</ul>
		
		
	</form>		
	</div>
		<div class="todo">
		<div class="head">
			<!--					<i class='bx bx-edit-alt'></i>-->
			<h3>Prescribed records & Thresholds</h3>
		</div>

		<ul class="todo-list">
			{{#each patient.thresholds}}
            <li class="blueone">
				<p>{{formatThresholds this.name}}</p>
			</li>
        	{{/each}}
		</ul>
		<br>
		<p>To change these values, contact your clinician:<br> {{clinician.first_name}} {{clinician.last_name}}</p>

	</div>


	
</div>

</form>