<div class="head-title">
	<div class="left">
		<ul class="breadcrumb">
			<li>
				<a class="active generic-button" href="#">History</a>
			</li>
			<li><i class='bx material-icons'>chevron_right</i></li>
		</ul>
		<br>
		<h1>Historical Records</h1>
		
	</div>
	
	
</div>

<ul class="box-info">
	<li>
		<i class='bx material-icons'>today</i>
		<span class="text">
			<h3>{{getCurrentDate}}</h3>
			<p>Today's Date</p>
		</span>
	</li>
	<li>
		<i class='bx material-icons'>medication</i>
		<span class="text">
			{{#with clinician}}
				<h3>Dr. {{this.first_name}} {{this.last_name}}</h3>
			{{/with}}
			<p>Your clinician</p>
		</span>
	</li>
</ul>





<div class="table-data">
	<div class="order">
		<div class="head">
			<h3>Showing {{data.length}} records.</h3>
			<input class="searchbar" type="text" id="allPatientsInput" onkeyup="allPatientsSearch()" placeholder="Search..." title="Type in a name">
			<a style="color:var(--blue);" href="#"><i class='bx material-icons'>filter_list</i></a>
		</div>
		<table>
			<thead>
				<tr>
					<th>Record Type</th>
					<th>Value</th>
					<th>Date Added</th>
					<th>View</th>
				</tr>
			</thead>
			<tbody>
				{{!-- loops over the data set --}}
				{{#each data}}
				<tr>
					<td> 
						<p>{{this.record_type}}</p>
					</td>
					<td><p>{{truncate this.value 6}}</p></td>
					<td><p>{{formatDate this.created_at}}</p></td>
					<td><a href="/userHistory/{{this._id}}"><i style="color:var(--blue);" class='bx material-icons'>arrow_forward_ios</i></a></td>
				</tr>
				<li><a href="/userHistory/{{this._id}}"></a></li>
				{{/each}}
			</tbody>
		</table>
	</div>
	
</div>
