<div class="head-title">
	<div class="left">
		<ul class="breadcrumb">
			<li>
				<a class="active generic-button" href="#">History</a>
			</li>
			<li><i class='bx material-icons'>chevron_right</i></li>
		</ul>
		<br><br>
		<h1>Historical Records</h1>
		
	</div>
	
	
</div>

<ul class="box-info">
	<li>
		<i class='bx material-icons'>today</i>
		<span class="text">
			<h3 id="CurrentDate"></h3>
			<p>Today's Date</p>
		</span>
	</li>
	<li>
		<i class='bx material-icons'>medication</i>
		<span class="text">
			<h3>{{name}}</h3>
			<p>Your clinician</p>
		</span>
	</li>
	<!--			<li>-->
	<!--				<i class='bx bx-list-ul' ></i>-->
	<!--				<span class="text">-->
	<!--					<h3>NUM</h3>-->
	<!--					<p>Records to complete</p>-->
	<!--				</span>-->
	<!--			</li>-->
	<!--			<li>-->
	<!--				<i class='bx bx-trophy' ></i>-->
	<!--				<span class="text">-->
	<!--					<h3>NUM</h3>-->
	<!--					<p>On the leaderboard</p>-->
	<!--				</span>-->
	<!--			</li>-->
</ul>





<div class="table-data">
	<div class="order">
		<div class="head">
			<!--					<i class='bx bx-check-square' ></i>-->
			<h3>Showing {{data.length}} records.</h3>
			<input class="searchbar" type="text" id="allPatientsInput" onkeyup="allPatientsSearch()" placeholder="Search..." title="Type in a name">
			<a style="color:var(--blue);" href="#"><i class='bx material-icons'>filter_list</i></a>
		</div>
		<table>
			<thead>
				<tr>
					<th>Record Type</th>
					<th>Value</th>
					<th>View</th>
				</tr>
			</thead>
			<tbody>
				{{!-- loops over the data set --}}
				{{#each data}}
				<tr>
					<td> 
						<p>{{this.first_name}}</p>
					</td>
					<td><p>{{this.last_name}}</p></td>
					<td><a href="/userHistory/{{this._id}}"><i style="color:var(--blue);" class='bx material-icons'>arrow_forward_ios</i></a></td>
				</tr>
				<li><a href="/userHistory/{{this._id}}"></a></li>
				{{/each}}
			</tbody>
		</table>
	</div>
	
</div>
