{{#with oneItem}}
<div class="head-title">
    <div class="left">
        <ul class="breadcrumb">
            <li>
                <a class="active generic-button" href="/userHistory">History</a>
            </li>
            <li><i class='bx material-icons'>chevron_right</i></li>
            <li>
                <a class="active generic-button" href="#">View record {{this._id}}</a>
            </li>
        </ul>
        <br>
        <h1>Record {{this._id}}</h1>
        
    </div>
    
    
</div>

<ul class="box-info">
    <li>
        <i class='bx material-icons'>today</i>
        <span class="text">
            <h3 id="CurrentDate"></h3>
            <p>Today's Date</p>
        </span>
    </li>
    <li>
        <i class='bx material-icons'>medication</i>
        <span class="text">
            <h3>{{name}}</h3>
            <p>Your clinician</p>
        </span>
    </li>
</ul>
<br>
<ul class="box-info">
    
    <li>
        <span class="text">
            <h3>Record ID</h3>
            <h2>{{this._id}}</h2>
        </span>
    </li>
</ul>
<br>
<ul class="box-info">
    
    <li>
        <span class="text">
            <h3>Date Added</h3>
            <h2>{{formatDate this.created_at}}</h2>
        </span>
    </li>

</ul>
<br>
<ul class="box-info">
    
    <li>
        <span class="text">
            <h3>Record Type</h3>
            <h2>{{this.record_type}}</h2>
        </span>
    </li>
    
    <li>
        <span class="text">
            <h3>Value</h3>
            <h2>{{this.value}}</h2>
        </span>
    </li>


</ul>
<br>
<ul class="box-info">
    <li>
        <span class="text">
            <h3>Comment</h3>
            <br>
            <h3>{{this.comment}}</h3>
        </span>
    </li>


</ul>





{{/with}}