{{#with oneItem}}
<div class="head-title">
    <div class="left">
        <ul class="breadcrumb">
            <li>
                <a class="active generic-button" href="/userHistory">History</a>
            </li>
            <li><i class='bx material-icons'>chevron_right</i></li>
            <li>
                <a class="active generic-button" href="#">{{this.record_type}} on {{formatDate this.created_at}}</a>
            </li>
        </ul>
        <br>
        <h1>{{this.record_type}} record <br>{{formatDate this.created_at}}</h1>
    </div>    
</div>
{{/with}}

<ul class="box-info">
    <li>
        <i class='bx material-icons'>today</i>
        <span class="text">
            <h3>{{getCurrentDate}}</h3>
            <p>Today's Date</p>
        </span>
    </li>
    <li>
        <i class='bx material-icons'>medication</i>
        <span class="text">
            {{#with clinician}}
                <h3>Dr. {{this.first_name}} {{this.last_name}}</h3>
            {{/with}}
            <p>Your clinician</p>
        </span>
    </li>
</ul>

{{#with oneItem}}
<br>
<ul class="box-info">
    
    <li>
        <span class="text">
            <h3>Date Added</h3>
            <h2>{{formatDate this.created_at}}</h2>
        </span>
    </li>

</ul>
<ul class="box-info">
    
    <li>
        <span class="text">
            <h3>Record Type</h3>
            <h2>{{this.record_type}}</h2>
        </span>
    </li>
    
    <li>
        <span class="text">
            <h3>Value</h3>
            <h2>{{this.value}}</h2>
        </span>
    </li>


</ul>
<ul class="box-info">
    <li>
        <span class="text">
            <h3>Comment</h3>
            <br>
            <h2>{{this.comment}}</h2>
        </span>
    </li>


</ul>
{{/with}}

<script></script>