<div class="head-title">
	<div class="left">
		<ul class="breadcrumb">
			<li>
				<a class="active generic-button" href="/">Dashboard</a>
			</li>
			<li><i class='bx material-icons'>chevron_right</i></li>
		</ul>
		<br>
		<h1>Dashboard</h1>
		<h2>Welcome, Pat.</h2>
		
	</div>

<!--Used in D3-->
<!--<a href="#" class="btn-download">-->
<!--	<i class='bx material-icons'>edit_calendar</i>-->
<!--	<span style='font-size:13px' class="text">Viewing data for <span id="CurrentDateTop"></span><br>Click to change</span>-->
<!--</a>-->
	
</div>

<ul class="box-info">
	<li>
		<i class='bx material-icons'>today</i>
		<span class="text">
			<h3>{{getCurrentDate}}</h3>
			<p>Today's Date</p>
		</span>
	</li>
	<li>
		<i class='bx material-icons'>medication</i>
		<span class="text">
			{{#with clinician}}
				<h3>Dr. {{this.first_name}}<br>{{this.last_name}}</h3>
			{{/with}}
			<p>Your clinician</p>
		</span>
	</li>
	<li>
		<i class='bx material-icons'>playlist_add</i>
		<span class="text">
			<h3>NUM</h3>
			<p>Outstanding records</p>
		</span>
	</li>
	<li>
		<i class='bx material-icons'>leaderboard</i>
		<span class="text">
			<h3>1</h3>
			<p>Leaderboard position</p>
		</span>
	</li>
</ul>

<ul class="box-info">
	<li>
		<i class='bx material-icons'>recommend</i>
		<span class="text">
			<h3>Way to go! You've been consistent this week, keep up the good work.</h3>
			{{#with clinician}}
				<p>Your latest message of support from Dr {{this.first_name}} {{this.last_name}}.</p>
			{{/with}}
		</span>
	</li>
</ul>



		
<div class="table-data">
	<div class="todo">
		<div class="head">
<!--					<i class='bx bx-edit-alt'></i>-->
			<a style="color:var(--blue);" href="/userAddRecord"><h3>Complete your diary <i style="vertical-align: -3px; color:var(--blue);" class='bx material-icons'>arrow_forward_ios</i></h3></a>
		</div>
		<ul class="todo-list">
			<li class="not-completed">
				<p>Exercise</p>
				<a href="/userAddRecord"><i style="color:var(--blue);" class='bx material-icons'>arrow_forward_ios</i></a>
			</li>
			<li class="not-completed">
				<p>Weight</p>
				<a href="/userAddRecord"><i style="color:var(--blue);" class='bx material-icons'>arrow_forward_ios</i></a>
			</li>
			<li class="not-completed">
				<p>Insulin Doses</p>
				<a href="/userAddRecord"><i style="color:var(--blue);" class='bx material-icons'>arrow_forward_ios</i></a>
			</li>
		</ul>
	</div>
	
	<div class="order">
		<div class="head">
			<h3 style="color:var(--blue);">Today's records <a href="/userHistory"><i style="vertical-align: -3px; color:var(--blue);" class='bx material-icons'>arrow_forward_ios</i></a></h3>
			<input style="width:40%" type="text" class="input-button-select" id="allPatientsInput" onkeyup="allPatientsSearch()" placeholder="Search..." title="Type in a name">
			<a style="color:var(--blue);" href="#"><i class='bx material-icons'>filter_list</i></a>
		</div>
		<table class="scrollTable" id="allPatientsTable">
			<thead>
				<tr>
					<th scope="col">Record Type</th>
					<th scope="col">Value</th>
					<th scope="col">View</th>
				</tr>
			</thead>
			<tbody>
				{{!-- loops over the data set --}}
				{{#each data}}
				{{#if (isFromToday this.created_at)}}
				<tr>
					<td data-label="Record Type">
						<p>{{this.record_type}}</p>
					</td>
					<td data-label="Value"><p>{{this.value}}</p></td>
					<td data-label="View"><a href="/userHistory/{{this._id}}"><i style="color:var(--blue);" class='bx material-icons'>arrow_forward_ios</i></a></td>
				</tr>
				{{else}}
				{{/if}}
				{{/each}}
			</tbody>
		</table>
		<br>
		<p>Records may be hidden, scroll if required</p>
		<img src="/img/bounce-arrow.gif" alt="scroll-down-animation" width="50vw">
	</div>

</div>
<script>
	const allPatientsSearch = () => {
		const trs = document.querySelectorAll('#allPatientsTable tr:not(.header)')
		const filter = document.querySelector('#allPatientsInput').value
		const regex = new RegExp(filter, 'i')
		const isFoundInTds = td => regex.test(td.innerHTML)
		const isFound = childrenArr => childrenArr.some(isFoundInTds)
		const setTrStyleDisplay = ({ style, children }) => {
			style.display = isFound([
				...children // <-- All columns
			]) ? '' : 'none' 
		}
		
		trs.forEach(setTrStyleDisplay)
	}
	
</script>

